<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="code, write, think" />
    <link href="/assets/site.css" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" type="application/atom+xml">
    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
    var sc_project=8737837; 
    var sc_invisible=1; 
    var sc_security="3ffdd2d7"; 
    var scJsHost = (("https:" == document.location.protocol) ?
      "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
      scJsHost+
      "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="web stats"
      href="http://statcounter.com/" target="_blank"><img
      class="statcounter"
      src="http://c.statcounter.com/8737837/0/3ffdd2d7/1/"
      alt="web stats"></a></div></noscript>
      <!-- End of StatCounter Code for Default Guide -->
  </head>
  <body>{{ content }}</body>
</html>